DATABASE_URL=<SET_IN_SECRET_MANAGER>
DATABASE_POOL_URL=<SET_PER_ENVIRONMENT>

NEXT_PUBLIC_APP_URL="https://lumora.app"

STRIPE_SECRET_KEY=<SET_IN_SECRET_MANAGER>
STRIPE_WEBHOOK_SECRET=<SET_IN_SECRET_MANAGER>
STRIPE_CREATOR_SUBSCRIPTION_PRODUCT_ID=<SET_PER_ENVIRONMENT>
STRIPE_FAN_PLUS_PRODUCT_ID=<SET_PER_ENVIRONMENT>

R2_ACCOUNT_ID=<SET_PER_ENVIRONMENT>
R2_ACCESS_KEY_ID=<SET_IN_SECRET_MANAGER>
R2_SECRET_ACCESS_KEY=<SET_IN_SECRET_MANAGER>
R2_BUCKET_NAME=<SET_PER_ENVIRONMENT>
R2_PUBLIC_CDN_URL=<SET_PER_ENVIRONMENT>

EMAIL_PROVIDER_API_KEY=<SET_IN_SECRET_MANAGER>
EMAIL_FROM_DOMAIN="lumora.app"
EMAIL_FROM_ADDRESS="hello@lumora.app"

AUTH_CLIENT_ID=<SET_PER_ENVIRONMENT>
AUTH_CLIENT_SECRET=<SET_IN_SECRET_MANAGER>
AUTH_SESSION_SECRET=<SET_IN_SECRET_MANAGER>

LUMORA_ENCRYPTION_KEY=<SET_IN_SECRET_MANAGER>
UPLOAD_SIGNING_SECRET=<SET_IN_SECRET_MANAGER>
RATE_LIMIT_SECRET=<SET_IN_SECRET_MANAGER>

MONITORING_DSN=<SET_PER_ENVIRONMENT>
